<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">

            <div class="row justify-content-md-center">
                <a style="border: none;" class="btn navGestionTxt" id="btnIniciar" href="/index.html" role="button">
                    Alertas
                    <img class="icon" src="/assets/notification.svg" alt="Alerta">
                </a>
            </div>

            <div class="row justify-content-md-center">
                <a style="border: none;" class="btn navGestionTxt" id="btnIniciar" href="/index.html" role="button">
                    Historial de productos
                    <img class="icon" src="/assets/historial.svg" alt="Historial">
                </a>
            </div>

            <div class="row justify-content-md-center">
                <a style="border: none;" class="btn navGestionTxt" id="btnIniciar" href="/index.html" role="button">
                    Generar reporte
                    <img class="icon" src="/assets/descargar.svg" alt="Descargar">
                </a>
            </div>

            <div class="row justify-content-md-center">
                <a style="border: none;" class="btn navGestionTxt" id="btnIniciar" href="/principal.html"
                    role="button">
                    Cerrar sesión
                    <img class="icon" src="/assets/logout.svg" alt="Salir">
                </a>
            </div>

        </div>
    </nav>
</header>
