<mat-card class="container formulario customContainer">
    <mat-card-content>
        <h3>Nombre tienda</h3>
        <ul class="col">
            <li class="my-5">
                <h3>Cantidad en tienda:</h3>
                <p id="labelTienda">---</p>
            </li>
            <li class="my-5">
                <h3>Cantidad en bodega:</h3>
                <p id="labelTienda">---</p>
            </li>
            <li class="my-5">
                <h3>Total de producto:</h3>
                <p id="labelTienda">---</p>
            </li>
        </ul>
    </mat-card-content>
</mat-card>