<form [formGroup]="formularioLogin">
    <div class="my-5 text-start">
        <label for="userField" class="form-label">Usuario:</label> 
        <input type="email" class="form-control formulario w-75" id="userField" name="User" formControlName="email">
    </div>
    <div class="my-5 text-start">
        <label for="passwordField" class="form-label">Contraseña:</label>
        <input type="password" class="form-control formulario w-75" id="passwordField" name="password" formControlName="contraseña">
    </div>
    <div class="text-center mb-3">
        <button type="submit" class="boton w-50" style="height: 40px;" (click)="iniciarSesion()">Iniciar sesión</button>
    </div>
    <span><button type="button" class="btn btn-link">¿Olvidaste tu constraseña?</button></span>
</form>

