<comp-header-gestion />

<section class="container-fluid mt-5">
    <div class="row">
        <div class="col-7">
            <!-- card muestra stock -->
            <comp-card-stock />

            <!-- barra de busqueda -->
            <comp-barra-busqueda />
        </div>

        <div class="col">
            <!-- botones crud -->
            <div class="mt-5">
                <comp-selectores />
            </div>
            <div class="separador"></div>

            <!-- boton codigo de barras -->
            <div class="mt-5">
                <comp-btn-codigo-barras />
            </div>
        </div>
    </div>
</section>