<section>
    <div class="container text-center mt-5">
        <div class="row">
            <!-- Logo -->
            <figure class="col-6 figure">
                <img class="figure-img img-fluid rounded" src="/assets/StockMasterAdminLogo2.png" alt="Logo SMS Admin">
            </figure>
  
            <!-- Formulario login -->
            <div class="col-6 container formulario mt-5" style="height: 400px;">
                <comp-form-login/>
            </div>
        </div>
    </div>
</section>
