 .btnCRUD{
 /*   border-top-left-radius: 32px;
    border-bottom-left-radius: 32px; */
    border-radius: 42px 0 0 42px;
    height: 7vh;
    font-size: larger;
    
}

.icon-adjusted {
    transform: translateX(-4px);
    width: 5.9vh;
}