<button class="btnCRUD d-flex align-items-center mt-3"><img class="icon icon-adjusted me-5" src="/src/assets/buscar.svg"
        alt="" style="background-color: #16E550;">{{btnAgregar}}</button>
<button class="btnCRUD d-flex align-items-center mt-3"><img class="icon icon-adjusted me-5" src="/src/assets/edit.svg"
        alt="" style="background-color: #E59F16;">{{btnModificar}}</button>
<button class="btnCRUD d-flex align-items-center mt-3"><img class="icon icon-adjusted me-5" src="/src/assets/edit.svg"
        alt="" style="background-color: #E59F16;">{{btnModificarStock}}</button>
<button class="btnCRUD d-flex align-items-center mt-3"><img class="icon icon-adjusted me-5" src="/src/assets/logout.svg"
        alt="" style="background-color: #E51616;">{{btnEliminar}}</button>